* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

#form {
    margin: 8em;
    text-align: center;
}

#form > button {
    margin-top: 2rem;
    padding: 5px;
}

.gameContainerFlex{
    display: flex;
    gap: 5rem;
    color: white;

}

.pikachu{
    border: 1px solid black;
    width: 400px;
    height: 400px;
    text-align: center;
    background: url('../image/cat-7978173_1920.jpg');
    background-size: cover;
    padding: 50px;
}


.sanchai{
    border: 1px solid green;
    border-radius: 30%;
    width: 400px;
    height: 400px;
    text-align: center;
    background-image: url(../image/Saenchai.jpg);
    background-size: cover;
    padding: 50px;
}
.hide{
    display: none;
}

.skill-btn{
    margin: 20px;
    padding: 5px;
}

.restartBtnStyle{
    margin-top: 2rem;
    padding: 5px;
}