* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

#form {
    margin: 8em;
    text-align: center;
}

#form > button {
    margin-top: 2rem;
}

.gameContainerFlex{
    display: flex;
   gap: 5rem;
}

.pikachu{
    border: 1px solid black;
    width: 400px;
    height: 400px;
    text-align: center;
}
.sanchai{
    border: 1px solid green;
    border-radius: 30%;
    width: 400px;
    height: 400px;
    text-align: center;
}
.hide{
    display: none;
}